body {
    font-family: Helvetica;
    text-align: center;
    margin: 0;

}

input {
    border: 2px solid black;
    box-shadow: -3px 3px black;
    height: 30px;
    width: 250px;
    font-weight:bold;
    font-size: 16px;
}

#cards-section {
    max-width: 1020px;
    margin:50px auto auto auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 40px;
}

.card{
    width: 200px;
    min-height: 350px;
    background-color: white;
    border: 2px solid black;
    box-shadow: -6px 6px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.remove{
    align-self: flex-start;
    border: none;
    outline: none;
    background: none;
    font-size: 1.2rem;
}

.cardInfo{
    font-weight: bold;
    font-size: 15px;
    margin: 2px;
}

.cardInfo.pages{
    font-weight: normal;
}

.cardImg{
    width: auto;
    height: 250px;
    border-radius: 2px;
    margin-bottom: auto;
}

#form-section{
    min-height: 300px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.modal{
    position:fixed;
    top:30%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    border: 2px solid black;
    z-index: 10;
    background-color: white;
    width: 400px;
    box-shadow: -6px 6px black;
}

.modal.active{
    transform: translate(-50%, -50%) scale(1);
}

.modal-header{
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    font-size: 1.4rem;
    font-weight: bold;
}

.modal-header .close-button{
    border: none;
    outline: none;
    background: none;
    font-size: 1.5rem;
}

#overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.25);
    pointer-events: none;
}

#overlay.active{
    opacity: 1;
    pointer-events: all;
}

#addBookBtn, #openModalBtn {
    background-color: white;
    width: 120px;
    border: 2px solid black;
    box-shadow: -3px 3px black;
    height: 30px;
    font-weight:bold;
    font-size: 16px;
    height: 40px;;

}

#openModalBtn:active, #addBookBtn:active{
    transform: translate(-2px,2px);
    box-shadow: none;
}

footer{
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 60px;
    margin: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid black;
}   

.footer-text{
    font-weight: bold;
    color: black;
    text-decoration: none;
}

a:link{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}